#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

UTIL_LINUX = util-linux-2.27.1

override_dh_auto_build:
	cd $(UTIL_LINUX); \
	./autogen.sh; \
	./configure --without-python; \
	make -j4

override_dh_install:
	install -D $(CURDIR)/$(UTIL_LINUX)/nsenter $(CURDIR)/debian/enter-docker/usr/bin/nsenter; \
	install -D $(CURDIR)/enter-docker $(CURDIR)/debian/enter-docker/usr/sbin/enter-docker

%:
	dh $@
